.Segment {
    grid-column: 1;
    grid-row: 1 / 4;
    margin: auto;
    max-width: 40vw;
    width: 100%;
    border-radius: 15px;
}

.Card {
    margin-bottom: 5px;
    justify-content: center;
    text-align: left;
    border-radius: 25px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 7px;
    max-width: 50vw;
    background-color: #afafaf;
}

.Body {
    display: grid;
    grid-template: 3.5rem auto / 30vw 1fr;
    padding: 5px 5px;
    gap: 10px;
}

.Title {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    border-bottom: 2px solid black;
}

.Infos {
    grid-column: 2;
    grid-row: 2 / 4;
    text-align: left;
    font-size: 20px;
}